:root {
  --primary: rgb(247, 119, 84);
  --small: rgb(255, 188, 128);
  --medium: rgb(255, 159, 69);
  --large: rgb(247, 110, 17);
  --light: #eee;
  --dark: #313154;
  --gray: #888;
  --danger: #f32424;
  --greenS: rgb(130, 205, 72);
  --greenM: rgb(85, 180, 54);
  --greenL: rgb(56, 146, 56);
  --highLighter: rgb(191, 191, 191);

  --btn: rgb(51, 177, 202);
  --textBtn: rgb(34, 107, 135);
  --formBtn: rgb(12, 177, 180);

  --shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  --small-glow: 0px 0px 4px rgba(255, 188, 128, 0.75);
  --medium-glow: 0px 0px 4px rgba(255, 159, 69, 0.75);
  --large-glow: 0px 0px 4px rgb(247, 110, 17, 0.75);
  --greenS-glow: 0px 0px 4px rgba(130, 205, 72, 0.75);
  --greenM-glow: 0px 0px 4px rgba(85, 180, 54, 0.75);
  --greenL-glow: 0px 0px 4px rgba(56, 146, 56, 0.75);

  --side-panel: rgb(251, 251, 250);
  --main-panel: rgb(255, 255, 255);

  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  /* :root {
        color: #213547;
        background-color: #ffffff;
      }
      a:hover {
        color: #747bff;
      }
      button {
        background-color: #f9f9f9;
      } */
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

/* input[type="checkbox"]:checked {
            border-color: green;
          } */

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

html,
body {
  margin: 0;
  /* width: 100%;
    height: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center; */
  /* background: var(--light); */
  /* color: var(--dark); */
}
a {
  all: unset; /* This removes all styles */
  display: inline; /* You might want to add this back, depending on your use case */
}

/* 
        h3 {
          color: var(--dark);
          font-size: 1rem;
          font-weight: 400;
          margin-bottom: 1rem;
        } */

h4 {
  color: var(--gray);
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.overlay.active {
  display: flex;
}

.alert {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9999;
  max-width: 380px;
  width: 100%;
  border-radius: 24px;
  background-color: #fff;
  padding: 30px 20px;
  transform: translate(-50%, -50%);
  box-shadow: var(--shadow);
}

.alert.active {
  display: flex;
}

/* .options {
      display: flex;
      align-items: center;
      gap: 3rem;
      margin-top: 1rem;
    } */

.ok {
  font-size: 1.5rem;
  color: #eee;
  font-weight: 600;
  margin-top: 1rem;
  background-color: var(--danger);
  box-shadow: var(--shadow);
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.5;
}

.ok:hover {
  opacity: 1;
}

.yes {
  font-size: 1.5rem;
  color: #eee;
  font-weight: 600;
  margin-top: 1rem;
  background-color: var(--danger);
  box-shadow: var(--shadow);
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.yes:hover {
  opacity: 0.75;
}

.no {
  font-size: 1.5rem;
  color: #eee;
  font-weight: 600;
  margin-top: 1rem;
  background-color: var(--greenS);
  box-shadow: var(--shadow);
  padding: 6px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.no:hover {
  opacity: 0.75;
}

/* .container {
      display: grid;
      grid-template-columns: 25% 75%;
    }
     */

.minimizeBtn {
  font-size: 1.5rem;
  opacity: 0.75;
  transition: opacity 0.2s;
}

.minimizeBtn:hover {
  opacity: 1;
}

.actionPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: rgb(245, 245, 245);

  &.active {
    left: 0;
    width: 5%;
    height: 100%;
  }

  img {
    height: 80px;
    width: 80px;
    margin-bottom: 1rem;
    margin-top: -2.5rem;
  }

  .sectionBtn {
    display: flex;
    padding: 10px 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    svg {
      width: 30px;
      height: 30px;
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.contentPanel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* top: 7%; */
  left: 15%;
  width: 85%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.contentPanel.active {
  /* top: 7%;  */
  left: 5%;
  width: 95%;
  height: 100%;
}
/* 
.contentSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.controlSection {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.taskContainer .controlSection,
.goalContainer .controlSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.topButtons,
.bottomButtons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

 */

/* 
.noteContainer,
.journalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;

  height: 100%;
  width: 100%;
  transition: max-height 0.4s, opacity 0.4s;
  background-color: #f9f9f9;
}

.taskContainer,
.goalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 75%;
  min-height: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 100%;
  transition: max-height 0.4s, opacity 0.4s;
  border-radius: 10px;
  background-color: #f9f9f9;
} */

/* .Aditor_Note {
  height: 28rem;
}

.Aditor_Journal {
  height: 32rem;
}

.Aditor_Task_Point {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 9rem;
  overflow-y: auto;
} 
  .Aditor_Task_Checkbox {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 9rem;
  overflow-y: auto;
}
*/

/* 
.activate {
  color: #fff;
  background-color: var(--primary);
  opacity: 1;
} */

/* .space {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.addBtn {
  font-size: 2rem;
  margin-top: 4rem;
  color: #eee;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}
