:root {
  --primary: rgb(247, 119, 84);
  --small: rgb(255, 188, 128);
  --medium: rgb(255, 159, 69);
  --large: rgb(247, 110, 17);
  --light: #eee;
  --dark: #313154;
  --gray: #888;
  --danger: #f32424;
  --greenS: rgb(130, 205, 72);
  --greenM: rgb(85, 180, 54);
  --greenL: rgb(56, 146, 56);
  --highLighter: rgb(191, 191, 191);
  --yellow: #f1c40f;

  --btn: rgb(51, 177, 202);
  --textBtn: rgb(34, 107, 135);
  --formBtn: rgb(12, 177, 180);

  --shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  --small-glow: 0px 0px 4px rgba(255, 188, 128, 0.75);
  --medium-glow: 0px 0px 4px rgba(255, 159, 69, 0.75);
  --large-glow: 0px 0px 4px rgb(247, 110, 17, 0.75);
  --greenS-glow: 0px 0px 4px rgba(130, 205, 72, 0.75);
  --greenM-glow: 0px 0px 4px rgba(85, 180, 54, 0.75);
  --greenL-glow: 0px 0px 4px rgba(56, 146, 56, 0.75);
  --yellow-glow: 0 0 5px rgba(241, 196, 15, 0.7);

  --side-panel: rgb(251, 251, 250);
  --main-panel: rgb(255, 255, 255);

  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.task-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 25%;
  border: 3.5px solid var(--medium);
  box-shadow: var(--medium-glow);
  transition: 0.2s ease-in-out;
}

.unchecked {
  border-color: var(--medium);
  box-shadow: var(--medium-glow);
}

.working {
  border-color: var(--yellow);
  box-shadow: var(--yellow-glow);
}

.checked {
  border-color: var(--greenS);
  box-shadow: var(--greenS-glow);
}

.working::after {
  content: "";
  display: block;
  opacity: 1;
  width: 10px;
  height: 10px;
  background-color: var(--yellow);
  box-shadow: var(--yellow-glow);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}
.checked::after {
  content: "";
  display: block;
  opacity: 1;
  width: 10px;
  height: 10px;
  background-color: var(--greenS);
  box-shadow: var(--greenS-glow);
  border-radius: 25%;
  transition: 0.2s ease-in-out;
}

.task-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 25%;
  border: 3.5px solid var(--medium);
  box-shadow: var(--medium-glow);
  transition: 0.2s ease-in-out;
}

.unchecked {
  border-color: var(--medium);
  box-shadow: var(--medium-glow);
}

.working {
  border-color: var(--yellow); /* Add your yellow color variable */
  box-shadow: var(--yellow-glow); /* Add glow effect if needed */
}

.checked {
  border-color: var(--greenS);
  box-shadow: var(--greenS-glow);
}

.checked::after {
  content: "";
  display: block;
  opacity: 1;
  width: 10px;
  height: 10px;
  background-color: var(--greenS);
  box-shadow: var(--greenS-glow);
  border-radius: 25%;
  transition: 0.2s ease-in-out;
}
