/* .selectTask {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.backBtn {
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 15px;
}

.taskList {
  list-style: none;
  padding: 0;
}

.taskItem {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.taskItem span {
  cursor: pointer;
  font-size: 16px;
}

.unchecked {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 25%;
  border: 3.5px solid var(--medium);
  box-shadow: var(--medium-glow);
  transition: 0.2s ease-in-out;
}

.checked {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 25%;
  border: 3.5px solid var(--greenS);
  box-shadow: var(--greenS-glow);
  transition: 0.2s ease-in-out;
}

.checked::after {
  content: "";
  display: block;
  opacity: 1;
  width: 10px;
  height: 10px;
  background-color: var(--greenS);
  box-shadow: var(--greenS-glow);
  border-radius: 25%;
  transition: 0.2s ease-in-out;
} */
