:root {
  --primary: rgb(247, 119, 84);
  --small: rgb(255, 188, 128);
  --medium: rgb(255, 159, 69);
  --large: rgb(247, 110, 17);
  --light: #eee;
  --dark: #313154;
  --gray: #888;
  --danger: #f32424;
  --greenS: rgb(130, 205, 72);
  --greenM: rgb(85, 180, 54);
  --greenL: rgb(56, 146, 56);
  --highLighter: rgb(191, 191, 191);

  --btn: rgb(51, 177, 202);
  --textBtn: rgb(34, 107, 135);
  --formBtn: rgb(12, 177, 180);

  --shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  --small-glow: 0px 0px 4px rgba(255, 188, 128, 0.75);
  --medium-glow: 0px 0px 4px rgba(255, 159, 69, 0.75);
  --large-glow: 0px 0px 4px rgb(247, 110, 17, 0.75);
  --greenS-glow: 0px 0px 4px rgba(130, 205, 72, 0.75);
  --greenM-glow: 0px 0px 4px rgba(85, 180, 54, 0.75);
  --greenL-glow: 0px 0px 4px rgba(56, 146, 56, 0.75);

  --side-panel: rgb(251, 251, 250);
  --main-panel: rgb(255, 255, 255);

  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.addTask {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  height: 100%;

  .backBtn svg{
    display: flex;
    position: absolute;
    font-size: 1.5rem;
    top: 0;
    margin-top: 2rem;
  }

  .taskName {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;

    input[type="text"] {
      font-size: 1rem;
      width: 70%;
      border-bottom: 1px solid gray;
    }
  }

  .taskDetails {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1.25rem;

    &.activate {
      color: rgb(27, 97, 219);
    }
  }
  .details {
    font-size: 1rem;
    font-weight: 700;
    /* margin-bottom: 1rem; */
    margin-top: 1.25rem;

    &.activate {
      color: rgb(27, 97, 219);
    }
  }

  .detailsSection {
    width: 100%;
    background-color: #f9f9f9;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */

    .switchBtn {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 5px;

      button {
        font-size: 1rem;
        font-weight: bold;
        display: block;
        font-size: 1.125rem;
        font-weight: 600;
        padding: 0.5rem 0.5rem;
        color: #fff;
        /* background-color: var(--primary); */
        border-radius: 0.5rem;
        box-shadow: var(--gray);
        cursor: pointer;

        opacity: 0.35;

        &:hover {
          opacity: 1;
        }
      }
      .noteBtn {
        background-color: rgb(58, 96, 222);
      }
      .stepBtn {
        background-color: rgb(255, 62, 37);
      }
    }
  }

  p {
    font-size: 1rem;
    font-weight: 700;
    /* margin-bottom: 1rem; */
  }

  .taskSection{
    max-width: 30rem;
  }

  .priorityCategory,
  .taskCategory {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    gap: 10px;
    margin-bottom: 1.5rem;
  }

  .priorityCategory label,
  .taskCategory label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .priorityCategory .bubble,
  .taskCategory .bubble {
    padding: 5px 10px;
    margin: 5px;
    min-width: 5rem;
    border-radius: 5px;
    border: 3px solid var(--small);
    background-color: var(--small);
    box-shadow: var(--small-glow);
    cursor: pointer;
    text-align: center;
    opacity: 0.35;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.85;
    }
  }

  .priorityCategory .bubble.medium,
  .taskCategory .bubble.medium {
    border-color: var(--medium);
    background-color: var(--medium);
    box-shadow: var(--medium-glow);
  }

  .priorityCategory .bubble.large,
  .taskCategory .bubble.large {
    border-color: var(--large);
    background-color: var(--large);
    box-shadow: var(--large-glow);
  }

  label input:checked + .bubble {
    opacity: 1;
  }

  #activateBtn {
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 1rem 1.125rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: var(--gray);
    cursor: pointer;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    opacity: 0.35;

    &:hover {
      opacity: 1;
    }
  }

  /* .activate {
      color: #fff;
      background-color: var(--primary);
      opacity: 1;
    } */

  .controlBtn {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    #saveBtn {
      display: block;
      font-size: 1.125rem;
      font-weight: 600;
      padding: 1rem 1.125rem;
      color: #fff;
      background-color: var(--greenM);
      border-radius: 0.5rem;
      box-shadow: var(--gray);
      cursor: pointer;
      margin-top: 1.5rem;
      opacity: 0.35;

      &:hover {
        opacity: 1;
      }
    }
  }
}
